.navbar {
    width: 100%;
    height: var(--navbar-height);
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 15px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f1f1f1;

    .logo {
        width: 200px;
        cursor: pointer;

        & img {
            width: 100%;
        }
    }

}

@media(min-width: 1024px) {
    .navbar {
        padding-left: 50px;
        padding-top: 20px;
        padding-bottom: 20px;
        height: 122px;
        justify-content: space-evenly;
        gap: 0 80px;
        background-color: #fff;
        box-shadow: 0 4px 4px 0 #00000040;
    }


}